.contenedor-myapp {
  position: relative;
  margin: 0 auto;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.content-wrap {
  margin: 1rem 0.33rem 0.33rem;
  min-height: 600px; // Importante para evitar una vista cortada en la recarga de la página.
  overflow: hidden;
  //min-height: 750px;
}

.interior-top-toolbar {
  padding: 0 2px;
  justify-content: flex-end;
  align-items: center;
}

.cant-registros {
  height: 2rem;
}


/** items container **/


.items-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  .item-content-wrap {
    float: left;
  }

  .items-paginacion {
    width: 100%;
    text-align: center;
    margin: 1.5rem 0;
    align-self: flex-end;
    justify-content: flex-end;

    .mat-paginator {
      background-color: #fafafa; //color debe ser igual que el .interior-right-sidenav
    }
  }
}
