<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Registrarse</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <form #loginForm="ngForm" [formGroup]="form" (ngSubmit)="enviar()">

      <img matCardImage src="https://pathwayport.com/saasland/images/signup.svg" alt="imagen registrarse">

      <mat-form-field appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" required>
        <mat-error>
          Por favor ingrese su nombre de usuario válida!!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Correo de recuperación</mat-label>
        <input matInput formControlName="correo" required>
        <mat-error>
          Por favor ingrese su correo electronico válida!!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Clave</mat-label>
        <input matInput name="password" type="password" formControlName="password" [formGroup]="form" [disabled]="enProceso" required>
        <mat-error>
          Por favor ingrese su clave válida!!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirmar clave</mat-label>
        <input matInput name="confirmarPassword" type="password" formControlName="confirmarPassword" [formGroup]="form" [disabled]="enProceso" required>
        <mat-error>
          Por favor confirme nuevamente su clave válida!!
        </mat-error>
        <mat-error *ngIf="form.controls.confirmarPassword.errors?.MatchPassword">
          Las claves no coinciden!!
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [class.spinner]="enProceso" [disabled]="enProceso">
        <span *ngIf="!enProceso">
          Registrar
        </span>
      </button>

    </form>
  </mat-card-content>
</mat-card>
