<!-- INICIALIZAR EL RESTABLECIMIENTO DE LA CLAVE -->

<mat-card *ngIf="tokenValido">
  <mat-card-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Nueva clave</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <img matCardImage src="./../../../assets/images/generarnuevaclave.svg" alt="imagen registrarse">

      <mat-form-field appearance="outline">
        <mat-label>Clave</mat-label>
        <input matInput name="password" type="password" formControlName="password" [formGroup]="form"
          [disabled]="enProceso" required>
        <mat-error>
          Por favor ingrese su clave válida!!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirmar clave</mat-label>
        <input matInput name="confirmarPassword" type="password" formControlName="confirmarPassword" [formGroup]="form"
          [disabled]="enProceso" required>
        <mat-error>
          Por favor confirme nuevamente su clave válida!!
        </mat-error>
        <mat-error *ngIf="form.controls.confirmarPassword.errors?.MatchPassword">
          Las claves no coinciden!!
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [class.spinner]="enProceso"
        [disabled]="form.invalid || enProceso">
        <span *ngIf="!enProceso">
          Cambiar clave
        </span>
      </button>

    </form>
  </mat-card-content>
</mat-card>

<!-- SE EXPIRÓ PARA RESTABLECER LA CLAVE -->
<mat-card *ngIf="!tokenValido">
  <span>
    <b>La petición no es válida o ha expirado 😢😢</b>
  </span>

  <br>
  <br>

  <img matCardImage src="./../../../assets/images/sesionexpirada.png" alt="imagen expirada">
</mat-card>
