<mat-card>
  <mat-card-content>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Iniciar sesión</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <form #loginForm="ngForm">

      <img matCardImage src="./../../../assets/images/iniciar-sesion.webp" alt="imagen login">

      <mat-form-field appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput name="username" [(ngModel)]="usuario" [disabled]="enProceso" required>
        <mat-error>
          Por favor ingrese su nombre de usuario válida!!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="clave" [disabled]="enProceso" required>
        <mat-error>
          Por favor ingrese su clave válida!!
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [class.spinner]="enProceso" [disabled]="enProceso" (click)="iniciarSesion()">
        <span *ngIf="!enProceso">
          Iniciar sesión
        </span>
      </button>

      <br>

      <button mat-button color="primary" routerLink="/1" [disabled]="enProceso">Registrarse</button>

      <br>

      <button mat-button color="primary" routerLink="/recuperar" [disabled]="enProceso">¿Olvidaste tu clave?</button>

    </form>
  </mat-card-content>
</mat-card>
